{% extends 'base.html' %}
{% load static %}

{% block content %}

<head>
    <link href="{% static 'model/bootstrap/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'model/bootstrap/bootstrap.bundle.min.js' %}"></script>
    <script>
        var socket = new WebSocket('ws://' + window.location.host + '/ws/cards/');

        socket.onopen = function(e) {
            console.log('WebSocket Connection established');
        };

        socket.onmessage = function(e) {
            var data = JSON.parse(e.data);
            var message = data.message;
            console.log("Received message: ", message);
            // 这里可以触发某些UI更新
            alert("通知：" + message);
        };

        socket.onerror = function(e) {
            console.error('WebSocket error: ', e);
        };

        socket.onclose = function(e) {
            console.log('WebSocket connection closed: ', e);
        };

        function addCard() {
            alert("請在30秒內，將新的卡片於卡機感應");
            
            $.ajax({
                url: "{% url 'call_sensor' %}",
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                success: function(response) {
                    socket.send(JSON.stringify({ message: "新卡片已添加" }));
                },
                error: function() {
                    console.log("API 调用失败");
                }
            });
        }
    </script>
</head>
<div class="container">
    <h2  class="text-center mb-4">卡片管理</h2>
    <button id="add-card-button" class="btn btn-primary mb-3" onclick='addCard()'>新增卡片</button>
    <form method="get">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="搜索卡號或被照護者名稱" name="q" value="{{ request.GET.q }}">
            <button class="btn btn-outline-secondary" type="submit">搜索</button>
        </div>
    </form>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>卡片序號</th>
                <th>卡片內碼編號</th>
                <th>綁定人</th>
                <th>卡片新增時間</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {% for card in page_obj %}
            <tr>
                <td>{{ forloop.counter }}</td>

                <td>{{ card.rfidCard_code }}</td>
                <td>
                    {% if card.patient %}
                        {{ card.patient.patient_name }}
                    {% else %}
                        未分配
                    {% endif %}
                </td>
                <td>
                    {% if card.created_time %}
                        {{ card.created_time }}
                    {% else %}
                        未分配
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'edit_card' card.rfidCard_code %}" class="btn btn-primary">編輯</a>
                    <form action="{% url 'delete_card' card.rfidCard_code %}" method="post" style="display: inline;">
                        <button type="submit" class="btn btn-danger" onclick="return confirm('確定要刪除這個卡片嗎？');">刪除</button>
                    </form>
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>
<div class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <a class="page-link" href="{% url 'card_manager' %}?page=1">&laquo; 最前頁</a>
    <a class="page-link" href="{% url 'card_manager' %}?page={{ page_obj.previous_page_number }}">上一頁</a>
    {% endif %}

    <span class="page-link disabled">
        第 {{ page_obj.number }} 頁，共 {{ page_obj.paginator.num_pages }} 頁
    </span>

    {% if page_obj.has_next %}
    <a class="page-link" href="{% url 'card_manager' %}?page={{ page_obj.next_page_number }}">下一頁</a>
    <a class="page-link" href="{% url 'card_manager' %}?page={{ page_obj.paginator.num_pages }}">最後頁 &raquo;</a>
    {% endif %}
</div>
{% endblock %}
