{% extends 'base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <link href="{% static 'model/bootstrap/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'model/bootstrap/bootstrap.bundle.min.js' %}"></script>
</head>
<body>
    <div class="container">
        <h2  class="text-center mb-4">食材進貨列表</h2>
        <form method="get" class="mb-3">
            <div class="input-group">
                <input type="text" name="query" class="form-control" placeholder="搜尋食材" value="{{ query }}">
                <button class="btn btn-outline-secondary" type="submit">搜尋</button>
            </div>
        </form>

        <a href="{% url 'purchase_detail_create' %}" class="btn btn-primary mb-3">新增進貨</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>食材名稱</th>
                    <th>數量</th>
                    <th>最新訂貨日期</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {% for detail in details %}
                <tr>
                    <td>{{ detail.sides.sides_name }}</td>
                    <td>{{ detail.purchase_quantity }}</td>
                    <td>{{ detail.purchase_date }}</td>
                    <td>
                        <a href="{% url 'purchase_detail_delete' detail.pk %}" class="btn btn-danger" onclick="return confirm('確定要刪除這筆進貨嗎？');">刪除</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="pagination justify-content-center">
            {% if details.has_previous %}
            <a class="page-link" href="{% url 'purchase_details' %}?page=1&query={{ query }}">&laquo; 最前頁</a>
            <a class="page-link" href="{% url 'purchase_details' %}?page={{ details.previous_page_number }}&query={{ query }}">上一頁</a>
            {% endif %}
    
            <span class="page-link disabled">
                第 {{ details.number }} 頁，共 {{ details.paginator.num_pages }} 頁
            </span>
    
            {% if details.has_next %}
            <a class="page-link" href="{% url 'purchase_details' %}?page={{ details.next_page_number }}&query={{ query }}">下一頁</a>
            <a class="page-link" href="{% url 'purchase_details' %}?page={{ details.paginator.num_pages }}&query={{ query }}">最後頁 &raquo;</a>
            {% endif %}
        </div>
    </div>
</body>
</html>
{% endblock %}