{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/order_delivery_management.css' %}">
  <script src="{% static 'model/bootstrap/bootstrap.bundle.min.js' %}"></script>
</head>

<div class="container">
  <div class="title">
    <h2>配送餐點管理</h2>
    <a href="{% url 'history' %}" class="btn btn-sm btn-info" style="font-size:15px; padding:0.5rem 1rem; color:rgb(234, 245, 245);">查詢歷史訂單</a>
  </div>

  <h2 class="orderTime">點餐時段：
    {% if mealTime != None %}
      {{ orderstate.OrderState_name }}
    {% else %}
      目前非點餐時段
    {% endif %}
  </h2>
  <table class="table table-striped" class="table">
    <thead>
      <tr>
        <th>序號</th>
        <th>餐點及數量</th>
        <th>點餐時間</th>
        <th>訂餐人</th>
        <th>床位</th>
        <th>訂單狀態</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      {% for order in page_obj %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ order.course.course_name }} x {{ order.order_quantity }}</td>
        <td>{{ order.order_time }}</td>
        <td>{{ order.patient.patient_name }}</td>
        <td>{{ order.first_bed_number }}</td>
        {% if order.orderState.OrderState_code == 1 %}
          <td><p class="un-delivery">{{ order.orderState.OrderState_name }}</p></td>
        {% elif order.orderState.OrderState_code == 2 %}
          <td><p class="delivering">{{ order.orderState.OrderState_name }}</p></td>
        {% endif %}
        <td>
          <a href="{% url 'delivery_order' order.order_id %}" class="btn btn-sm btn-success">送餐</a>
          <a href="{% url 'cancel_order' order.order_id %}" class="btn btn-sm btn-danger" onclick="return confirm('確定要取消訂單嗎？');">取消</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}