{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/medicine_delivery_management.css' %}">
  <script src="{% static 'model/bootstrap/bootstrap.bundle.min.js' %}"></script>
</head>

<div class="container mt-4">
  <div class="title">
    <h2>查詢歷史訂單</h2>
    <a href="{% url 'medicine_order_management_delivery' %}" class="btn btn-sm btn-info" style="background:#2f69fd; font-size:15px; padding:0.5rem 0.5rem; color:#e6efec; border:none;">返回</a>
  </div>

  <table class="table table-striped" class="table" style="margin-top: 10%;">
    <thead>
      <tr>
        <th>號碼</th>
        <th>症狀</th>
        <th>審核時間</th>
        <th>通知發送時間</th>
        <th>患者</th>
        <th>床位</th>
        <th>送藥狀態</th>
      </tr>
    </thead>
    <tbody>
      {% for medicine in page_obj %}
      <tr>
        <td>{{ medicine.medicineDemand_id }}</td>
        <td>{{ medicine.patient_demand }}</td>
        <td>{{ medicine.review_time }}</td>
        <td>{{ medicine.created_time }}</td>
        <td>{{ medicine.patient.patient_name }}</td>
        <td>{{ medicine.first_bed_number }}</td>
        {% if medicine.medicineDemandState.medicineDemandState_code == 4 %}
          <td><p class="complete">{{ medicine.medicineDemandState.medicineState_name }}</p></td>
        {% elif medicine.medicineDemandState.medicineDemandState_code == 5 %}
          <td><p class="cancel">{{ medicine.medicineDemandState.medicineState_name }}</p></td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}