
{% load static %}
{% load custom_filters %}

<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/" />
    {% if request.user|has_group:"pharmacy" %}
    <title>智慧藥師後臺系統</title>
    {% endif %}

    {% if request.user|has_group:"admin" %}
    <title>後臺系統</title>
    {% endif %}

    {% if request.user|has_group:"caregiver" %}
    <title>智慧照護後臺系統</title>
    {% endif %}
    {% block extra_head %}

    <link rel="shortcut icon" href="{% static 'img/logo.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <link href="{% static 'model/bootstrap/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/baseStyle.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/loading.css' %}">
    <script src="{% static 'model/bootstrap/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'model/jquery-3.6.4.min.js' %}"></script>

    {% endblock %}
</head>

<body>
    <div class="modal" tabindex="-1" role="dialog" id="preloaderModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <div class="lds-roller">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <h3 style="padding: 10px;">處理中...</h3>
                </div>
            </div>
        </div>
    </div>
    <header>
        <a href="{% url 'index' %}" class="logo">
            <img src="{% static 'img/logo.png' %}" alt="公司LOGO">
            
            {% if request.user|has_group:"pharmacy" %}
            <h2>智慧藥師後臺系統</h2>
            {% endif %}

            {% if request.user|has_group:"admin" %}
            <h2>後臺系統</h2>
            {% endif %}

            {% if request.user|has_group:"caregiver" %}
            <h2>智慧照護後臺系統</h2>
            {% endif %}
        </a>
        <div class="account">
            <a href="#"><i class="fas fa-user-circle"></i> {{ request.user.username }}</a>
            <div class="account-dropdown" id="account-dropdown">
                <a href="{% url 'edit_profile' %}">修改資訊</a>
                <a href="{% url 'logout' %}"><i class="fa-solid fa-right-from-bracket"></i> 登出</a>
            </div>
        </div>
    </header>
    <div class="content">
        <nav id="sidebar">
            <ul>
                {% for menu in function_menu %}
                    {% if user|has_groups:menu.permission %}
                        {% if menu.mode == "one" %}
                        <li><a class="FunctionMenuBtn {% if menu.url in request.path %}active{% endif %}" href="{% url menu.url %}"><i class="fa-solid {{ menu.icon }}"></i> {{ menu.name }}</a></li>

                        {% elif menu.mode == "multi" %}
                        <li>
                            <div class="FunctionMenuBtn" data-bs-toggle="collapse" data-bs-target="#{{ menu.id }}" aria-expanded="{% for item in menu.items %}{% if item.url in request.path %}true{% endif %}{% endfor %}" aria-controls="{{ menu.id }}">
                                {{ menu.name }}
                            </div>
                            
                            <div class="collapse multi-collapse ms-1 {% for item in menu.items %}{% if item.url in request.path %}show{% endif %}{% endfor %}" id="{{ menu.id }}">
                                <div class="list-group">
                                    
                                    {% for item in menu.items %} 
                                        <a href="{% url item.url %}" class="FunctionMenu-item {% if item.url in request.path %}active{% endif %}">
                                            <i class="fa-solid {{ item.icon }}"></i> {{ item.name }}
                                        </a>
                                    {% endfor %}
                                </div>
                            </div>
                        </li>
                        {% endif %}
                    {% endif %}
                    
                {% endfor %}
            </ul>
        </nav>
        <main>
            {% block content %}{% endblock %}
        </main>
    </div>
</body>

</html>
<script>
    $(document).ready(function() {
        $('#preloaderModal').modal('show');

        $(window).on('beforeunload', function() {
            $('#preloaderModal').modal('show');
        });

        $(window).on('load', function() {
            $('#preloaderModal').modal('hide');
        });
    });
</script>
